# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
media-device-manager/node_modules
media-device-manager/.pnp
.pnp.js
media-device-manager/public
# testing
media-device-manager/coverage

# production
media-device-manager/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
